@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,300&display=swap');

// * {
//     font-family: Arial;
//     font-size: 15px;
//     color: #121212;
//     --color-first: #66BB6ACC;
//     --color-second: #81C784CC;
//     --color-other: #9CCC65CC;
//     --color-yellow: #FFF59DCC;
//     --color-danger: #FF7043BB;
// }

// body {
//     background-image: url("/images/sky.jpg");
//     background-repeat: no-repeat;
//     background-position: top center;
//     background-color: #b0ddff;
// }

// table {
//     margin: auto;
//     margin-top: 32px;
//     background-color: #ffffff55;
// }

// .centered {
//     text-align: center;
// }

// .updated {
//     font-weight: 500;
//     text-shadow: 1px 1px 2px #3E2723;
//     color: #795548;
//     font-size: 90%;
// }

// th,
// td {
//     padding: 5px;
// }

// th {
//     vertical-align: bottom;
//     text-align: center;
//     font-weight: bold;
//     text-shadow: 1px 1px 1px #3E2723;
//     color: #795548;
// }

// td {
//     border-bottom: 1px solid #e9e9e9;
// }

// tbody tr:nth-child(1) {
//     background-color: var(--color-first);
//     border-bottom: 1px solid var(--color-first);
// }

// tbody tr:nth-child(2) {
//     background-color: var(--color-second);
//     border-bottom: 1px solid var(--color-second);
// }

// tbody tr:nth-child(3) {
//     background-color: var(--color-other);
//     border-bottom: 1px solid var(--color-other);
// }

// tbody tr:nth-child(4) {
//     background-color: var(--color-yellow);
//     border-bottom: 1px solid var(--color-yellow);
// }

// tbody tr:nth-child(5) {
//     background-color: var(--color-yellow);
//     border-bottom: 1px solid var(--color-yellow);
// }

// .wrapper,
// img {
//     width: 300px;
//     margin: auto;
// }


// #map {
//     position: absolute;
//     top: 40%;
//     left: 45%;
//     display: none;
//     padding: 10px;
//     background-color: white;
//     border-radius: 5px;
// }

// #map,

// .last-flight,
// .last-flight-time {
//     margin: 0;
//     font-size: 70%;
// }

// .last-flight {
//     font-weight: bold;
// }

// .last-flight-time {
//     font-style: italic;
// }

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

#map-container {
    height: 80vh;
}

.arrow-diff {
    margin-right: 5px;

    &.fa {
        font-size: 12px;
    }
    &.diff-stable {
        color: #e8e8e8;
    }
    &.diff-up {
        color: green;
    }
    &.diff-down {
        color: red;
    }
}

.logo {
    width: 150px;
}
.rank-image {
    width: 28px;
}
.info-card {
    &-first-row{
        font-size: 15px;
        font-weight: 600;
    }
}

.danger {
    background-color: #FEFFEC !important;
}